<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//connect.soundcloud.com/sdk.js"></script>
    <style>
        body {
            font-family: Helvetica;
        }
        h1 {
            text-align: center;
        }
        div {
            margin: 10px;
        }
    </style>
    <title>Include SDK - Using SoundCloud API</title>

</head>
<body>
<h1>SoundCloud API usage &mdash; JavaScript SDK</h1>

<button id="getList">Get List of Tracks</button>
<button id="embedTrack">Embed Track</button>
<div id="player"></div>
<ul></ul>
</body>
<script>
    $(document).ready(function() {

        // initialization
        SC.initialize({
            client_id: "wUNxKExU8wm7IfN1bIV4qBSh2cpeivmY"
        });

        // Getting tracks
        $("#getList").click(function() {
            SC.get("/tracks", function(res) {
                for (var i = 0; i < res.length; i++) {
                    $("ul").append("<li>" + res[i].title + "</li>")
                }
            });
        });
        $("#embedTrack").click(function() {
            var player = $("#player");
            SC.oEmbed('https://soundcloud.com/mureed-abbas-shah/sami-meri-waar-by-qb-umair', {
                maxheight: 200
            }, function(res) {
                $("#player").html(res.html);
            });
        });
    });
</script>
</html>