<div id="followers" class="modal">
    <div class="card-panel">
        <h2 class="card-title center" style="margin-bottom: 10%"> Followers </h2>
        <ul class="card-content">
            <li class="card-content" style="margin-bottom: 10%">
                <img src="images/profilePics/303346733.png"width="50" height="50">
                <SPAN><strong>Ronald Lai</strong>   rzCodec</SPAN>
            </li>
            <li class="card-content" style="margin-bottom: 10%">
                <img src="images/profilePics/303346736.png"width="50" height="50">
                <SPAN><strong>John Crester</strong>   theJC</SPAN>
            </li>
            <li class="card-content" style="margin-bottom: 10%">
                <img src="images/profilePics/303346740.png"width="50" height="50">
                <SPAN><strong>Devandrin Kuni</strong>   Vanneh</SPAN>
            </li>
            <li class="card-content" style="margin-bottom: 10%">
                <img src="images/profilePics/303346779.png"width="50" height="50">
                <SPAN><strong>yackon hex</strong>   yice</SPAN>
            </li>
        </ul>
    </div>
</div>


<div id="following" class="modal">
    <div class="card-panel">
        <h2 class="card-title center" style="margin-bottom: 10%"> Following </h2>
        <ul class="card-content">
            <li class="card-content" style="margin-bottom: 10%">
                <img src="images/profilePics/303346733.png"width="50" height="50">
                <SPAN><strong>Ronald Lai</strong>   rzCodec</SPAN>
            </li>
            <li class="card-content" style="margin-bottom: 10%">
                <img src="images/profilePics/303346736.png"width="50" height="50">
                <SPAN><strong>John Crester</strong>   theJC</SPAN>
            </li>
            <li class="card-content" style="margin-bottom: 10%">
                <img src="images/profilePics/303346740.png"width="50" height="50">
                <SPAN><strong>Devandrin Kuni</strong>  Vanneh</SPAN>
        </ul>
    </div>
</div>


<div id="PostStatus" class="modal rounded red lighten-5" style="height: 38%;
    overflow: inherit; border-radius: 10px;" >
    <div  class="center card-title white " style="border-bottom: groove;" >
        <br>
        <a type="button" class="large modal-close right" aria-hidden="true"
           style="margin-right: 4%; font-size: 100%"><i class="material-icons">close</i></a>
        <h3 style="margin-bottom: 2%;">Post A Status</h3>
    </div>
        <div  class=" offset-l2 card-content" style="margin-top: 2%; margin-left: 4%; margin-right: 4% ">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="statusMsg" class="materialize-textarea focus rounded white black-text"
                                  placeholder="What's the vibe?" style="border: groove; border-radius: 10px;
                                   height: 50%; border-color: red; font-size: 120%">
                        </textarea>
                    </div>
                </div>
            </form>
            <div class="modal-fixed-footer">
                <div>
                    <a id="postStat" class="btn rounded red white-text right modal-close" onclick="postStatus()"
                       style="border-radius: 10px;">Post</a>
                </div>

            </div>
        </div>

</div>


<script>

    var userID;
    function setUserID(id)
    {
        userID = id;
        setProfileImg();
        $('#statusMsg').val("");
    }

    function postStatus ()
    {
        var status = $('#statusMsg').val();
        if(status != "" || status.truncate(status,status.length) != "" || status != null ||
            status.truncate(status,status.length) != null )
        {
            $.post("https://eternalvibes.me/setStatus",
                {
                    user: userID,
                    status:status,
                    estraInfo: new Date().getDate()
                },
                function (data)
                {
                    console.log("Data: " + data);
                });
            Materialize.toast('New status Has been Posted', 5000);
            $('#statusMsg').val("");
            location.reload();
        }else
        {
            Materialize.toast("Your vibe cannot be nothing", 5000)
        }

    }
    function setProfileImg()
    {
        var image = "images/profilePics/" + userID + ".png";
        $('#userImg').attr('src', image );
    }
    function setUsername(username)
    {
        $('#userName').attr('text',username);
    }
    function setEmail(email)
    {
        $('#userEmail').attr('text',email);
    }

    function deleteStatus (id)
    {

        $.post("https://www.eternalvibes.me/deleteStatus",
            {
                statusId: id
            },
            function (data) {
                console.log("Data: " + data);
                if(data == 200)
                {
                    Materialize.toast('Removed Post', 500);
                    location.reload();
                }
            });
    }

    function likeStatus(id)
    {
        var link = "https://www.eternalvibes.me/likeStatus/" + userID + "/" + id;
        $.post(link,
            function (data) {
                console.log("Data: " + data);
                if(data == 200)
                {
                    Materialize.toast('Post Liked', 500);
                    location.reload();
                }
            });
    }

</script>