
 <!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Eternal Vibes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type='text/css' media='screen'>
  <style>

 body{
 background-color: #fcfcfc;}
  </style>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
       <a href="/" class="brand-logo brown-text"><i class="material-icons">cloud</i>ETERNAL VIBES</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
	   <li><a href="https://play.google.com/store?hl=en" ><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width='200' height='70'></a> </li>
      </ul>
	
    </div>
  </nav>

  <div class="container">
  <div class="row">

    <div class="col s12">

      <div class="section">

        <div id="flow" class="section scrollspy">
         
          <div id="flow-text-demo" class="card-panel">
		   <h2 class="header">About our App</h2>
          <p class="flow-text">
          One common flaw we have observed with the music industry is it's lack of easy connectivity. When people want to colaborate, they have to keep going through channels that lack clear communication, and it's often with people who are too far away. That is where our app comes in, we allow people to find like-minded artists around them that share the same interest of making great music with a team,</p>
          <p class="flow-text">To see the app in action, click on the "GET IT ON Google Play" icon on the nav bar, you will need a SoundCloud account to prove that you have been grinding and contributing to being a great artist. Now go download it and make your future.</p>
          </div>

          <br>

          
        </div>

      </div>

    </div>
   
  </div>
</div>

  <footer id='Footer' class="page-footer brown darken-4">
    <div class="container">
      <div class="row" style='margin-bottom:0;'>
        <div class="col l6 s12">
          <h5 class="white-text">Eternal Vibes</h5>
          <p class="grey-text text-lighten-4">We are growing, watch this space to see how fast we work</p>


        </div>
        
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Google+</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize.min.js"></script>
  <script src="javascripts/init.js"></script>

  </body>
</html>
