<!DOCTYPE html>
<html lang="en">
<% include ../../partials/head.ejs %>


<body>

<% include ../../partials/header.ejs %>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <div class="row"><div class="MainStatDiv"><div class="bubble">Stats1</div><div class="bubble">Stats1</div><div class="bubble">Stats1</div><div class="bubble">Stats1</div></div></div>
      <div class="row"><div class="MainStatDiv"><div class="bubble">Stats2</div><div class="bubble">Stats2</div><div class="bubble">Stats2</div><div class="bubble">Stats2</div></div></div>
      <div class="row"><div class="MainStatDiv"><div class="bubble">Stats3</div><div class="bubble">Stats3</div><div class="bubble">Stats3</div><div class="bubble">Stats3</div></div></div>
    </div>
    <div class="col-sm-8 text-left">
      <h1>Welcome UserName</h1>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Settings')"  id="defaultOpen">Settings</button>
            <button class="tablinks" onclick="openCity(event, 'Privacy')">Privacy</button>
            <button class="tablinks" onclick="openCity(event, 'Advertise')">Advertise</button>
            <button class="tablinks" onclick="openCity(event, 'Help')">Help</button>
        </div>

        <div id="Settings" class="tabcontent">
            <h3>Settings</h3>
            <p>Some general settings</p>
        </div>

        <div id="Privacy" class="tabcontent">
            <h3>Privacy</h3>
            <p>Manage what other people see</p>
        </div>

        <div id="Help" class="tabcontent">
            <h3>Help</h3>
            <p>Fix your problem</p>
        </div>
        <div id="Advertise" class="tabcontent">
            <h3>Advertise</h3>
            <p>Market yourself to other artists</p>
        </div>


      <hr>
        <script>
            document.getElementById("defaultOpen").click();
            function openCity(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>
      <h3>Recent Activity</h3>
      <div><table border="0" class="table">
              <thead>
              <tr>
                  <th>TypeOfActivity</th>
                  <th>HowItWasHandled</th>
              </tr>

              </thead>
              <tbody>
              <tr>
                  <td>Contacted Person A</td>
                  <td>Did this</td>
                  <td><button class="btn btn-primary">MoreInfo</button></td>
              </tr>
              <tr>
                  <td>Contacted Person B</td>
                  <td>Did this</td>
                  <td><button class="btn btn-primary">MoreInfo</button></td>
              </tr>
              <tr>
                  <td>Contacted Person C</td>
                  <td>Did this</td>
                  <td><button class="btn btn-primary">MoreInfo</button></td>
              </tr>
              </tbody>
          </table>
      </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Ads</p>
      </div>
    </div>
  </div>
</div>

<% include ../../partials/footer.ejs %>
</body>
</html>
