<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Eternal Vibes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type='text/css' media='screen'>
  <style>
 #to-top {
  position: fixed;
  bottom: 0px;
  left:50%;
  height:50px;
  
  right:50%;
  width: 50px;
  padding: 5px;
  border: 1px solid transparent;
  background: transparent;
  text-align: center;
  cursor: pointer;
 
}
 body{
 background-color: #fcfcfc;}
  </style>
</head>
<body>
<div id="to-top"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></div>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
       <a href="/" class="brand-logo brown-text"><i class="material-icons">cloud</i>ETERNAL VIBES</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
	   <li><a href="/appinfo">About App</a> </li>
      </ul>
	
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text text-darken-2">We Connect Artists</h1>
        <div class="row center">
          <a href="/soundcloud" id="download-button" class="btn-large waves-effect waves-light orange darken-2">Login With Soundcloud</a><br>
		  
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/background/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div id='first' class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">language</i></h2>
            <h5 class="center brown-text">Find Artists Near You</h5>

            <p class="light brown-text">We allow you to find hungry artists around you that are ready to collaborate. Connect with them and start networking.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">fast_forward</i></h2>
            <h5 class="center brown-text">Fast Forward</h5>

            <p class="light brown-text">Our alogorthims only find artists that you are interested in viewing, skip to the next artists to find your perfect feature.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings_input_composite</i></h2>
            <h5 class="center brown-text">Listen</h5>

            <p class="light brown-text">We use soundcloud so you can quickly view and listen to music from artists around you.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div id='second' class="row center">
          <h5 class="header col s12 orange-text">The future is now, start networking.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div id='third' class="col s12 center brown-text">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">We are a bunch of university students that low new technologies. Connecting people is something we love doing, so contact us and get us to connect you with your future.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div id='forth' class="row center">
          <h5 class="header col s12 orange-text">Time for you to meet your future</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/background/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer id='Footer' class="page-footer brown darken-4">
    <div class="container">
      <div class="row" style='margin-bottom:0px;'>
        <div class="col l6 s12">
          <h5 class="white-text">Eternal Vibes</h5>
          <p class="grey-text text-lighten-4">We are growing, watch this space to see how fast we work</p>


        </div>
        
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Google+</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize.min.js"></script>
  <script src="javascripts/init.js"></script>
<script>
 var options = [
      {selector: '#index-banner', offset: 0, callback: function(el) {
        Materialize.toast('Scroll Down for more!', 2000, 'rounded')
      } },
      {selector: '#first', offset: 300, callback: function(el) {
        Materialize.toast('Keep going!', 2000, 'rounded')
      } },
      {selector: '#second', offset: 0, callback: function(el) {
        Materialize.toast('Half way!', 2000, 'rounded')
      } },
      {selector: '#third', offset: 0, callback: function(el) {
        Materialize.toast('Almost there!', 2000, 'rounded')
      } },
	  {selector: '#Footer', offset: 0, callback: function(el) {
        Materialize.toast('Thanks for your time :-)', 2000, 'rounded')
      } }
    ];
  Materialize.scrollFire(options);
</script>
  </body>
</html>
