<!DOCTYPE html>
<html lang="en">
<% include ../../partials/head.ejs %>
<body>
<% include ../../partials/header.ejs %>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 text-left">

        </div>
        <div class="col-sm-8 text-center">
            <div class="login-page">
                <div class="form">
                    <form class="login-form">
                        <input type="text" placeholder="username"/>
                        <input type="password" placeholder="password"/>
                        <button>login</button>
                        <p class="message"><a href="#">Create an account</a></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2 text-right">

        </div>
    </div>
</div>
<% include ../../partials/footer.ejs %>
</body>
</html>
