body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e4e4e4;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tabcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
.bubble
{
  margin: 2px;
  display: inline-flex;
  padding:5px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #ccc;
  width: 40%;
}
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* Style the tab */
div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
a {
  color: #00B7FF;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #e4e4e4;
  height: 100%;
}

/* Set black background color, white text and some padding */

#NavBar{
  background-color: #232f3e;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.MainStatDiv
{
  padding: 15px 5px 15px 5px;
  background-color: #f2f2f2;
  border: 1px solid #cdd2d2;
  border-radius: 8px;
  vertical-align: top;
  font-family: Impact,Charcoal,sans-serif;
  color: #2a2a2a;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #232f3e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #232f3e;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #232f3e;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {

}
.footer-distributed{background-color:#232f3e;box-shadow:0 1px 1px 0 rgba(0,0,0,.12);box-sizing:border-box;width:100%;text-align:left;font:700 16px sans-serif;padding:55px 50px;margin-top:80px}.footer-distributed .footer-center,.footer-distributed .footer-left,.footer-distributed .footer-right{display:inline-block;vertical-align:top}.footer-distributed .footer-left{width:40%}.footer-distributed h3{color:#fff;font:400 36px Cookie,cursive;margin:0}.footer-distributed h3 span{color:#5383d3}.footer-distributed .footer-links{color:#fff;margin:20px 0 12px;padding:0}.footer-distributed .footer-links a{display:inline-block;line-height:1.8;text-decoration:none;color:inherit}.footer-distributed .footer-company-name{color:#8f9296;font-size:14px;font-weight:400;margin:0}.footer-distributed .footer-center{width:35%}.footer-distributed .footer-center i{background-color:#33383b;color:#fff;font-size:25px;width:38px;height:38px;border-radius:50%;text-align:center;line-height:42px;margin:10px 15px;vertical-align:middle}.footer-distributed .footer-center i.fa-envelope{font-size:17px;line-height:38px}.footer-distributed .footer-center p{display:inline-block;color:#fff;vertical-align:middle;margin:0}.footer-distributed .footer-center p span{display:block;font-weight:400;font-size:14px;line-height:2}.footer-distributed .footer-center p a{color:#5383d3;text-decoration:none}.footer-distributed .footer-right{width:20%}.footer-distributed{line-height:20px;color:#92999f;font-size:13px;font-weight:400;margin:0}.footer-distributed .footer-company-about span{display:block;color:#fff;font-size:14px;font-weight:700;margin-bottom:20px}.footer-distributed .footer-icons{margin-top:25px}.footer-distributed .footer-icons a{display:inline-block;width:35px;height:35px;cursor:pointer;background-color:#33383b;border-radius:2px;font-size:20px;color:#fff;text-align:center;line-height:35px;margin-right:3px;margin-bottom:5px}@media (max-width:880px){.footer-distributed{font:700 14px sans-serif}.footer-distributed .footer-center,.footer-distributed .footer-left,.footer-distributed .footer-right{display:block;width:100%;margin-bottom:40px;text-align:center}.footer-distributed .footer-center i{margin-left:0}}

.text3{background:#232f3e;color:#f5f5f5;font-weight:700;width:150px;padding:6px 15px 6px 35px;transition:.5s all ease;border:1px solid #333;border-radius:2px}

.text3:focus::-webkit-input-placeholder{color:transparent}
.text3:hover{box-shadow:12px 13px 0 rgba(204,211,51,.38),-11px -14px 0 rgba(241,96,0,.28),18px -24px 0 rgba(0,0,0,.34),33px -6px 0 rgba(39,74,214,.28);cursor:text}