<!DOCTYPE html>
<html lang="en">
<% include ../../partials/head.ejs %>
<body>
<% include ../../partials/header.ejs %>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 text-left">

        </div>
        <div class="col-sm-8 text-center">
            <div class="login-page">
                <div class="form">
                    <form class="register-form">
                        <input type="text" placeholder="name"/>
                        <input type="password" placeholder="password"/>
                        <input type="password" placeholder="Confirm password"/>
                        <input type="text" placeholder="email address"/>
                        <select class="selectpicker" data-style="btn-primary" style="margin: 10px;padding: 5px 15px 5px 15px;">
                            <% Genres.forEach(function(output){ %>
                            <option value="<%= output.Name %>"><%= output.Name %></option>
                            <% }) %>
                        </select>
                        <button id="CreateButton">Create Account</button>

                        <p class="message"><a href="#">Sign In</a></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2 text-right">
<script>
    $( "body" ).on( "click", "#CreateButton", function() {
        $.ajax({
            type: "GET",
            url: "/Expand?PlayerID=" + PlayerID + "&MatchID=" + MatchID + "&Region=" + QueryRegion,
            success: function (response) {
                tr.next().find('.ClosestTD').html(response);
                $('.tooltippp').tooltipster({
                    theme: 'tooltipster-borderless',
                    contentCloning: true,
                    contentAsHTML: true
                });
                $(function () {
                    $("img.lazyExpand").lazyload({
                        effect: "fadeIn"
                    });
                });

            },
            error: function () {
                tr.next().find('.ClosestTD').html("<h1>Error Loading</h1>");
            }
        });
    });
</script>
        </div>
    </div>
</div>
<% include ../../partials/footer.ejs %>
</body>
</html>
