<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Eternal Vibes</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo brown-text"><i class="material-icons">cloud</i>ETERNAL VIBES</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/dashboard"><i class="material-icons">refresh</i></a></li>
            <li><a href="/settings"> <i class="material-icons">settings</i></a></li>
            <li><a href="/"> <i class="material-icons">power_settings_new</i></a></li>
        </ul>
    </div>


</nav>
<div class="row">
    <div class="col s7 offset-s1">
        <ul id="staggered-test">
            <li class="" style="transform: translateX(0px); opacity: 0;">
                <div class="card white darken-1">
                    <div class="card-content">
                        <span class="card-title">Welcome Kendrick</span>

                    </div>
                </div>
            </li>
            <li class="" style="transform: translateX(0px); opacity: 0;">
                <div class="card white darken-4 black-text">
                    <div class="card-content activator">
                        <div class="valign-wrapper">
                            <div class="col s3"><img class="circle"
                                                     src="https://centricbeats.com/gallery/image/gallery_image/167/128/crop=square/_v=1466958272"
                                                     width="64" height="64">
                                <div class="chip">
                                    Meek
                                </div>
                            </div>

                            <div class="col s6"> Just posted a new track</div>
                            <div class="col s2"> 12 min</div>
                            <div class="col s1"><i class="material-icons">done</i><i class="material-icons activator">info_outline</i>
                            </div>
                        </div>


                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Extra Info<i
                                    class="material-icons right">close</i></span>
                        <p>let me tell you my story</p>
                    </div>

                </div>
            </li>
            <li class="" style="transform: translateX(0px); opacity: 0;">
                <div class="card white darken-4 black-text">
                    <div class="card-content activator">
                        <div class="valign-wrapper">
                            <div class="col s3"><img class="circle"
                                                     src="http://static.wixstatic.com/media/82007e_f8457d4d7a2a4884bf23814f0f0a0d3d.jpg_256"
                                                     width="64" height="64">
                                <div class="chip">
                                    Dre
                                </div>
                            </div>
                            <div class="col s6"> is working hard on a new project with kendrick</div>
                            <div class="col s2"> 14 min</div>
                            <div class="col s1"><i class="material-icons">done</i><i class="material-icons activator">info_outline</i>
                            </div>
                        </div>


                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Extra Info<i
                                    class="material-icons right">close</i><i
                                    class="material-icons right">warning</i></span>
                        <p>let me tell you my story</p>
                    </div>

                </div>
            </li>
            <li class="" style="transform: translateX(0px); opacity: 0;">
                <div class="card white darken-4 black-text">
                    <div class="card-content">
                        <div class="valign-wrapper">
                            <div class="col s3"><img class="circle"
                                                     src="https://s-media-cache-ak0.pinimg.com/236x/33/79/fe/3379fe31009ac2f2c5e925309120bb15.jpg"
                                                     width="64" height="64">
                                <div class="chip">
                                    Eminem
                                </div>
                            </div>
                            <div class="col s6"> set his next song release date</div>
                            <div class="col s2"> 16 min</div>
                            <div class="col s1"><i class="material-icons">done</i><i class="material-icons activator">info_outline</i>
                            </div>
                        </div>


                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Extra Info<i
                                    class="material-icons right">close</i><i
                                    class="material-icons right">warning</i></span>
                        <p>let me tell you my story</p>
                    </div>

                </div>
            </li>
            <li class="" style="transform: translateX(0px); opacity: 0;">
                <div class="card white darken-4 black-text">
                    <div class="card-content activator">
                        <div class="valign-wrapper">
                            <div class="col s3"><img class="circle"
                                                     src="https://ichef.bbci.co.uk/images/ic/256x256/p01bqlzy.jpg"
                                                     width="64" height="64">
                                <div class="chip">
                                    Wayne
                                </div>
                            </div>
                            <div class="col s6"> promoted dr Dre.</div>
                            <div class="col s2"> 20 min</div>
                            <div class="col s1"><i class="material-icons">done</i><i class="material-icons activator">info_outline</i>
                            </div>
                        </div>


                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Extra Info<i
                                    class="material-icons right">close</i><i
                                    class="material-icons right">warning</i></span>
                        <p>let me tell you my story</p>
                    </div>

                </div>
            </li>
            <li class="" style="transform: translateX(0px); opacity: 0;">
                <div class="card white darken-4 black-text">
                    <div class="card-content activator">
                        <div class="valign-wrapper">
                            <div class="col s3"><img class="circle"
                                                     src="https://s.yimg.com/wv/images/232cc165ee2630ff165c30fd2d6cd8b6_96.jpg"
                                                     width="64" height="64">
                                <div class="chip">
                                    Tom
                                </div>
                            </div>
                            <div class="col s6"> liked this song.</div>
                            <div class="col s2"> 22 min</div>
                            <div class="col s1"><i class="material-icons">done</i><i class="material-icons activator">info_outline</i>
                            </div>
                        </div>


                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Extra Info<i
                                    class="material-icons right">close</i><i
                                    class="material-icons right">warning</i></span>
                        <p>let me tell you my story</p>
                    </div>

                </div>
            </li>
            <li class="" style="transform: translateX(0px); opacity: 0;">
                <div class="card brown darken-4 valign-wrapper center-align">
                    <div class="card-content white-text center-align" style='width:100%'>

                        <h5 class="center-align"><i class="material-icons">play_for_work</i>ShowMore <i
                                    class="material-icons">play_for_work</i></h5>
                    </div>

                </div>
            </li>
        </ul>

    </div>
    <div class="col s4">
        <ul id="staggered-test2">
            <li class="" style="transform: translateX(0px); opacity: 0;">

                <div class="card white lighten-2">
                    <div class="card-content">
		<span class="card-title">Top Artists <div class="chip">
     Daily
  </div>
  <div class="chip">
     Week
  </div>
  <div class="chip">
     Month
  </div></span>


                    </div>
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <img src="http://img2-ak.lst.fm/i/u/64s/bea62ed5b908488fc896efa52311c9ba" alt=""
                                 class="circle">
                            <span class="title">Kendrick Lamar</span>
                            <p>Swimming Pools
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>

                        <li class="collection-item avatar">
                            <img src="https://assets.change.org/photos/5/uv/lo/alUvloIhROvPMNc-128x128-noPad.jpg?1466027101"
                                 alt="" class="circle">
                            <span class="title">Chance the Rapper</span>
                            <p>Prom Night
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <img src="http://img2-ak.lst.fm/i/u/64s/2616b7f49624462883e97f51409919b3" alt=""
                                 class="circle">
                            <span class="title">Linkin Park</span>
                            <p>Numb
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>

                    </ul>
                </div>
                <div class="card white lighten-2">
                    <div class="card-content white-text">

                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>

                </div>
            </li>

        </ul>
    </div>

</div>

<footer class="page-footer brown darken-4">
    <div class="container">
        <div class="row" style='margin-bottom:0;'>
            <div class="col l6 s12">
                <h5 class="white-text">Eternal Vibes</h5>
                <p class="grey-text text-lighten-4">We are growing, watch this space to see how fast we work</p>


            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                    <li><a class="white-text" href="#!">Twitter</a></li>
                    <li><a class="white-text" href="#!">Instagram</a></li>
                    <li><a class="white-text" href="#!">Google+</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>


<script src="javascripts/materialize.min.js"></script>
<script src="javascripts/init.js"></script>
<script>
    Materialize.showStaggeredList('#staggered-test');
    Materialize.showStaggeredList('#staggered-test2');
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                "Rap",
                "Rock",
                "Jazz"
            ],
            datasets: [
                {
                    data: [300, 50, 100],
                    backgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#FFCE56"
                    ],
                    hoverBackgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#FFCE56"
                    ]
                }]
        }
    });
</script>


</body>
</html>
