<!DOCTYPE html>
<html lang="en" >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head>
<body >
<main>
    <div class="row" >
        <%- include ./partials/nav.ejs %>
        <div  class="center col s4 offset-s4 " style="margin-top: 5%">
            <h2 align="center">Available Genres</h2>
            <div id='gList' class="card" style="margin-top: 5%">
                <ul class=" card-content" >

                </ul>
                <a id="addG" data-target="addGenre"
                   class="modal-trigger waves-effect waves-light brown white-text btn right">Add New Genre</a>
            </div>
        </div>
    </div>
    </div>

    <div id="addGenre" class="modal bottom-sheet">
        <div class="modal-content center">
            <h2 class="brown-text modal-ux-header">Add Genre</h2>
            <h5>Add a new genre for users</h5>
            <input type="text" id="add_genre" placeholder="Enter New Genre" />
            <br/>
            <div class="modal-footer">
                <a id="submit_genre" onclick="addGenre()"
                   class="modal-action modal-close waves-effect waves-light btn-flat brown-text">Submit</a>
                <a class="modal-action modal-close waves-effect waves-light btn-flat red-text left">Cancel</a>
            </div>
        </div>
    </div>


</main>
<%- include ../../Partials/footer.ejs %>
</body>
<script>

    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();

    });


    function addGenre()
    {
        var genre = $('#add_genre').val();
        if(genre == '')
        {
            materialize.toast("please enter a skill",5000);
        }
        else
        { $.post("https://www.eternalvibes.me/addGenre",
            {
                genreName: genre
            },
            function (data) {
                console.log("Data: " + data);
                if(data == 200)
                {

                }
            });
            materialize.toast(skill + " has been added", 500);
            $('#add_genre').reset();
            $('#gList').reload(true);
        }

    };

</script>

</html>
