<!DOCTYPE html>
<html lang="en" >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head>
<body >
<main>
    <div class="row" >
        <%- include ./partials/nav.ejs %>
        <div class="center-align col s4 offset-s4" style="margin-top: 5%">
            <h2 align="center">Add Skills</h2>
            <div class="form-group">
                <form name="add_skill" id="add_skill">
                    <div id="dynamic_field">
                        <input type="text" name="add_skill" id="add_skill" placeholder="Enter New Skill" class="form-control name_list" />
                    </div>
                    <br/>
                    <p/>
                    <button name="submit" id="submit_skill" class="btn" value="Submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>
<%- include ../../Partials/footer.ejs %>
</body>
<script>
    $('#submit_skill').click(function()
    {
        Materialize.toast($('#add_skill').value, 500);
        $.post("https://www.eternalvibes.me/addSkill",
            {
                skillName: $('#add_skill').value
            },
            function (data, status)
            {
                console.log("Data: " + data + "\nStatus: " + status);
            });
        $('#add_skill').reset();

    });
</script>

</html>
