<!DOCTYPE html>
<html lang="en" >
<head >
    <%- include ../../Partials/AboveFold.ejs %>
</head>
<body >
<main>
    <div class="row" >
        <%- include ./partials/nav.ejs %>
        <div  class="center col s4 offset-s4 " style="margin-top: 5%">
            <h2 align="center">Available Skills</h2>
            <div id='sList' class="card" style="margin-top: 5%">
                <ul id="skills" class=" card-content" >
                    <%skills.forEach(function(skill)
                    {%>
                    <li class="card-content"> <%= skill.name%></li>
                    <%})%>
                </ul>
                <a id="add" data-target="addSkill"
                   class="modal-trigger waves-effect waves-light brown white-text btn right">Add New Skill</a>
            </div>
        </div>
    </div>

    <div id="addskill" class="modal bottom-sheet">
        <div class="modal-content center">
            <h2 class="brown-text modal-ux-header">Add Skill</h2>
            <h5>Add a new skill for users</h5>
            <input type="text" id="add_skill" placeholder="Enter New Skill" />
            <br/>
            <div class="modal-footer">
                <a id="submit_skill" onclick="addSkill()"
                   class="modal-action modal-close waves-effect waves-light btn-flat brown-text">Submit</a>
                <a class="modal-action modal-close waves-effect waves-light btn-flat red-text left">Cancel</a>
            </div>
        </div>
    </div>

</main>
<%- include ../../Partials/footer.ejs %>
</body>
<script>

    var skills;

    function getSkills()
    {
        $.ajax({
            type: "GET",
            url: "https://eternalvibes.me/getSkills",
            cache: false,
            dataType: "jsonp",
            success: function (data){
                console.log(data);
                skills = data;
            },
            error: function (data) {
                console.log("error");
                skills = data;
            }})
            .then(function(){
                return skills;
            });
    }

    Materialize.toast(skills);

    $(document).ready(function(){
        $('.modal').modal();
        getSkills();
    });

    $('#add').click(function()
    {
        $('#addskill').modal('open');
    });

    function addSkill()
    {
        var skill = $('#add_skill').val();
        console.log('this skill' + skill);
        if(skill == '')
        {
            materialize.toast("please enter a skill",5000);
        }
        else
        { $.post("https://www.eternalvibes.me/addSkill",
            {
                skillName: skill
            },
            function (data) {
                console.log("Data: " + data);
                if(data == 200)
                {


                }
            });
            materialize.toast(skill + " has been added", 500);
            $('#add_skill').val('');
            $('#sList').reload(true);
        }

        /**/


    };
</script>

</html>
