<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Eternal Vibes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
 
 body{
 background-color: #fcfcfc;}
  </style>
</head>
<body>
  <div class="row">
      <div class="col s3">
    <ul id="slide-out" class="side-nav fixed">
      <li><div class="userView">
      <div class="background">
        <img src="images/background/background1.jpg">
      </div>
      <a href="#!user"><img class="circle" src="https://s.yimg.com/wv/images/232cc165ee2630ff165c30fd2d6cd8b6_96.jpg"></a>
      <a href="#!name"><span class="white-text name">David Innes</span></a>
      <a href="#!email"><span class="white-text email">Innes381@gmail.com</span></a>
     </div></li>

        <li><a class="subheader"><i class="material-icons right">thumbs_up_down</i>Flagged</a></li>
        <li   class='active'><a href="/flaggedusers">Users</a></li>
        <li><a href="/flaggedposts">Posts</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader"><i class="material-icons right">power_settings_new</i>Admin</a></li>
        <li><a href="/broadcast">Broadcast Message</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

   </div>
    <div class="col s8">
 		  <div class="valign-wrapper" >
   <h2 class="center-align" style='width:100%;'>Flagged Users</h2>
</div>
	   <ul id="staggered-test">
	  
	     <li class="" style="transform: translateX(0px); opacity: 0; ">

		 </li>
		  <li class="" style="transform: translateX(0px); opacity: 0; margin-top:100px;">
		  <div class="carousel carousel-slider center" data-indicators="true" >
    <div class="carousel-fixed-item center">
      		
<a id='accept' class="waves-effect waves-light btn"><i class="material-icons left">thumb_up</i>Pardon</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">thumb_down</i>Ban</a>	

    </div>
    <div class="carousel-item transparent white-text" href="#one!">
	<div class='container'>
	 
      <div class="card white darken-4 black-text">
            <div class="card-content">
			  
              <span class="card-title">Kendrick Lamar </span>
              <p>No. of reports: 2</p>
			  <p>No. of Pardons: 1</p>
			  <p>Overall Reason: Spam</p>
			  <p>Join Date: 12 March 2017</p>
            </div>
      </div>
	  </div>
    </div>
    <div class="carousel-item transparent white-text" href="#two!">
	 <div class='container'>
      <div class="card white darken-4 black-text">
             <div class="card-content">
			  
              <span class="card-title">J.Cole </span>
              <p>No. of reports: 4</p>
			  <p>No. of Pardons: 2</p>
			  <p>Overall Reason: Offensive</p>
			  <p>Join Date: 13 March 2017</p>
            </div>
      </div>
	  </div>
	</div>
    <div class="carousel-item transparent white-text" href="#three!">
     <div class='container'>
      <div class="card white darken-4 black-text">
            <div class="card-content">
			  
              <span class="card-title">Elton John </span>
              <p>No. of reports: 12</p>
			  <p>No. of Pardons: 0</p>
			  <p>Overall Reason: Offensive</p>
			  <p>Join Date: 11 March 2017</p>
            </div>
      </div>
	  </div>
    </div>
    <div class="carousel-item transparent white-text" href="#four!">
      <div class='container'>
      <div class="card white darken-4 black-text">
            <div class="card-content">
			  
              <span class="card-title">Joe Jackson </span>
              <p>No. of reports: 122</p>
			  <p>No. of Pardons: 0</p>
			  <p>Overall Reason: Spam</p>
			  <p>Join Date: 11 March 2017</p>
            </div>
      </div>
	  </div>
    </div>
  </div>
	   </li>
        </ul>
	  </div>
	  
		
     
    </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
 

  <script src="javascripts/materialize.min.js"></script>
  <script src="javascripts/init.js"></script>
  <script>
  Materialize.showStaggeredList('#staggered-test');

     // Initialize collapse button
  $(".button-collapse").sideNav();
   $('.carousel.carousel-slider').carousel({fullWidth: true});
   $(document).ready(function() {
    $(".carousel-fixed-item").on('click', '.btn', function() {
  $('.carousel').carousel('next');
   Materialize.toast('Judged!', 2000, 'rounded')
});
  });
   
  </script>

  </body>
</html>
